@import "../../styles/variables.scss";

.session-tab {
  display: flex;
  width: calc(100% + 32px);
  height: 60px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  background-color: $background2;
  border-bottom: 1px solid $line1;
  border-right: 1px solid $line2;
  color: $primary-title;
  padding: 6px 0 0 14px;  
  margin-left: -32px;
  cursor: pointer;
  transition: background-color 150ms;
}

.session-tab:hover {
  background-color: $background2-3;
}

.active {
  background-color: $background2-3;
  border-right: none;
  border-bottom: 1px solid $line2;
}

.users-closed {
  border-right: 1px solid $line2;
}

.active:hover {
  background-color: $background2-3;
}

.spacer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 150ms;
  overflow: hidden;
}

.inactive-translate:hover {
  transform: translateX(2%);
}

.session-tab h1 {
  background-color: transparent;
  margin: 0 0 5px 0;
  font-size: large;
}

.session-info {
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  margin-bottom: -13.8px;
  color: $tertiary-title;
}

.session-info p {
  background-color: transparent;
}

.session-info-item {
  background-color: none;
  margin: 0 13px 0 0;
}

.itemarrow {
  position: relative;
  margin-right: 18px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.4px;
  height: 18px;
  width: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.modal-open {
  animation: openModal 100ms ease-out forwards;
}

.modal-closed {
  animation: closeModal 100ms ease-out forwards;
}

@keyframes openModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
