.item-frame {
  width: auto;
  max-width: 90%;
  min-width: 60%;
  position: relative;
  min-height: 75px;
  border: 1px solid #dedede;
  background-color: white;
  margin: 0.6rem 0rem 0.6rem 0rem;
  display: flex;
  align-self: flex-end;
  margin-right: 3%;
  margin-left: 3%;
  overflow: visible;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
}

.sent {
  flex-direction: row;
}

.sentReversed {
  align-self: flex-start;
}

.calculated {
  display: flex;
  align-self: flex-start;
  border: 1px solid #dedede;
  background-color: white;
  min-width: 200px;
  width: auto;
  max-width: 90%;
  min-width: 40%;
  min-height: 60px;
  margin-left: 3%;
  align-items: center;
}

.calculatedReversed {
  align-self: flex-end;
}

.item-frame h4 {
  font-weight: 300;
  font-size: larger;
}

.item-frame h3 {
  font-weight: 500;
  font-size: larger;
}

.item-frame li {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
}

.itemarrow {
  right: 12px;
  top: 8px;
  position: absolute;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.modal-open {
  animation: openModal 100ms ease-out forwards;
}

.modal-closed {
  animation: closeModal 100ms ease-out forwards;
}

@keyframes openModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
