$main-blue: #3454b4;
$main-selection-blue: #263e87;
$selection-blue: #3454b4;
$button-blue: #4269E2;

$primary-title: white;
$secondary-title: #cfcfcf;
$tertiary-title: rgb(177, 177, 177);
$background0: #000000;
$background0-1: #121416;
$background1: #1f2229;
$background2-3: #252936;
$background2: #2a3041;
$background3: #444444;
$line1: #424242;
$line2: #555555;
$line3: #888888;
