$main-blue: #2e427e;
$main-selection-blue: rgb(34, 52, 106);
$selection-blue: #3454b4;
$button-blue: #4269E2;

$primary-title: white;
$secondary-title: #cfcfcf;
$tertiary-title: rgb(177, 177, 177);
$background0: #000000;
$background0-1: #111111;
$background1: #222222;
$background2-3: #2b2b2b;
$background2: #333333;
$background3: #444444;
$line1: #424242;
$line2: #555555;
$line3: #888888;
