@import "../../styles/variables.scss";

.card {
  width: 380px;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 11;
  padding: 26px;
  border-radius: 28px;
  background-color: $background1-2;
  backdrop-filter: blur(4px);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);

  & img {
    margin-top: 14px;
    margin-bottom: 30px;
    border-radius: 50%;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  }
}

.v-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.v-group input {
  color: $primary-title;
  border: 1px solid $tertiary-title;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 1rem;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
}

.v-group h2 {
  font-weight: 600;
  color: $primary-title;
  font-size: 30px;
  align-self: center;
  margin-bottom: 28px;
}

.h-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.2rem;
}

.h-group button {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 20px;
  border-radius: 8px;
}

.cancel:hover {
  background-color: #f8f8f8;
}

.confirm {
  background-color: $button-blue;
  color: white;
  border: none;
  width: 100%;
  margin-top: 10px;
}

.confirm:hover {
  background-color: $selection-blue;
}

.centerblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
}

.centerblock button {
  background-color: transparent;
  color: $primary-title;
  border: none;
}

.centerblock button.bottomText:hover {
  opacity: 0.7;
}

.centerblock button.bottomText p.main {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
  color: $primary-title;
}

.centerblock button.bottomText p.secondary {
  font-size: 14px;
  margin: 0;
  margin-bottom: 2px;
  color: $tertiary-title;
  font-weight: 300;
}
