@import "../../styles/variables.scss";

.whole-form {
  width: 100%;
  height: 80px;
  background-color: $background2;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  border-top: 1px solid $line1;
}

.whole-form form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 8px;
}

.whole-form input {
  background: $background1;
  color: $primary-title;
  border-radius: 8px;
}

.whole-form input[type="submit"] {
  background: $button-blue;
}

::placeholder {
  color: $secondary-title;
  opacity: 1; /* Firefox */
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $secondary-title;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $secondary-title;
  font-weight: 300;
}

.add-button {
  fill: none;
  padding-left: 14px;
  padding-right: 14px;
  color: $secondary-title;
  transition: all 0.1s ease-out;
  margin-left: 8px;
  margin-right: 8px;
  border: none;
  outline: none;
  white-space: nowrap;
  position: relative;
  height: 35px;
}

.add-button:hover {
  transform: scale(1.1);
}

.input-holder {
  width: 20%;
  height: 35px;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
}

.amount-shown {
  border-radius: 0;
  border: none;
  outline: none;
  white-space: nowrap;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 8px;
  z-index: 9;
}

.amount-hidden {
  border-radius: 0;
  border: none;
  outline: none;
  white-space: nowrap;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 8px;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
}

.description {
  width: 70%;
  border-radius: 0;
  margin-left: 8px;
  margin-right: 8px;
  border: none;
  white-space: nowrap;
  position: relative;
  height: 35px;
  padding-left: 10px;
}
